{% extends 'base.html.twig' %}

{% block body %}
    <h3>Dodawanie kwiatow</h3>

    {{  form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" style="margin-top: 15px;"/>
    {{ form_end(form) }}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('flowers_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
