{% extends 'base.html.twig' %}

{% block body %}
    {% if form == null %}
        <h3 style="margin-top: 25%">{{ message }}</h3>

    {% else %}

    <h1>Zgloś problem</h1>

    <h3>Opisz na czym polega Twoj problem</h3>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Zgłoś" />
    {{ form_end(form) }}

    {% endif %}

{% endblock %}
